<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.daily.mapper.DailyMapper">

    <select id="queryById" resultType="com.tianji.daily.domain.po.Daily">
         SELECT
         d.id,d.date,d.datetype,d.ondutytime,d.offdutytime,d.rdmno1,d.rdmno2,d.rdmno3,d.worklength
        FROM `daily` d
        WHERE d.id = #{id}
    </select>
</mapper>
